<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="file-upload" version="2.4">
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.bye.project.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProgressServlet</servlet-name>
    <servlet-class>com.bye.project.ProgressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProgressServlet</servlet-name>
    <url-pattern>/progress</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>UploadForm.html</welcome-file>
  </welcome-file-list>
</web-app>